/*
Note de couleur :
Couleur de fond encart rouge Fraise : #e93a3e;
Couleur de fond section rose barbe à papa: #fbd8e7
Couleur ponctuation vert pastel : #dff1ee
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body {
    background-color: #fcdeeb;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
header {
  text-align: center;
  padding-bottom: 2em;

}
footer {
  text-align: center;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-weight: 500;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
article {
  min-width: 50%;
  align-self: center;
}
ul {
  list-style: none;
}
#total {
  margin-top: 2em;
}
.center {
  text-align: center;
}
.ulFooter {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.liFooter {
  font-size: 0.8em;
  margin: 2em;
  font-weight: normal;
  color: #000000;
}
.liCoupe {
  margin: 0.3em;
}
section {
  width: 90%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  margin-bottom: 2em;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
#selectionBoule {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#boule1 {
  height: 50%;
}
.size50 {
    height: 50%;
}
.liSansStyle {
  list-style: none;
}
/*carrefour de choix*/
.hub {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.choix {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  background-color:#e93a3e;
  font-weight: bold;
  min-height: 22vh;
  min-width: 22vh;
  border: 10px outset #e92a2e;
  margin: 0.2em;
}
.menu {
  text-decoration: none;
  color: black;
}
.choix:hover {
  font-size: 1.2em;
  -webkit-box-shadow: 0px 0px 8px 0px #F53B3B;
  box-shadow: 0px 0px 8px 0px #F53B3B;
    border: 10px solid #e92a2e;
    border-radius: 50%;
}
.lienNav {
  width: 200%;
  text-decoration: none;
  background-color: #dff1ee;
  padding-left: 1.7em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: black;
  font-weight: 600;
  border: 5px outset #e92a2e;
  border-radius: 0px 15px 0px 40px;
}
/*==Bouton==*/
button {
  font-size: 1.2em;
}

.choixCreateur {
  background-color: #dff1ee;
  margin: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: 1px solid #fbd8e7;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
}
.choixCreateur:focus {
  background-color: #e93a3e;
}
.choixCreateur:checked {
  background-color: #fbd8e7;
}
.recCreateur {
  background-color: #dff1ee;
  margin: 0.2em;
  border: 2px solid #e93a3e;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}
/*==Menu aside navigation==*/
.menuOnglet {
  margin-left: 1em;
  margin-right: 0em;
  background-color: #dff1ee;
  width: 30%;
  height: auto;
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.ulOnglet {
  list-style: none;
  text-align:right;
  margin-bottom: 1em;
}
.liOnglet {
  width: 100%;
  margin-top: 2.2em;
}
/*==Conteneur flex==*/
.conteneurListePrix {
  width: 100%;
  list-style: none;
  text-align: justify;
}
#listeCocktails {
  width: 70%;
  list-style: none;
  text-align: justify;
}
.price {
  margin: 0.5em;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.flexRows {
  display: flex;
  flex-direction: row;
}
.conteneurRows {
  width: 100%;
  display: flex;
  flex-direction: row;
}
/*==Input et formulaires ==*/
label {
  text-align: center;
}
.sizeInpute {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 0.5em;
}
/*==Responsivité==*/
@media only screen and (max-width: 980px) {
  body {
    font-size: 1em;
  }
  .ulFooter {
    flex-direction: column;
    font-size: 0.8em;
  }
  .liFooter {
    margin: 0.3em;
  }
  section {
    width: 90%;
    background-color: white;
  }
  .menuOnglet {
    width: 50%;
  }
  .hub {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

      flex-direction: rows;
  }
  .choix {
    min-height: 20vh;
    min-width: 20vh;
  }
  .conteneurListePrix {
    width: 100%;
  }
}
@media only screen and (max-width: 680px) {
  body {
    font-size: 3em;
  }
  .ulFooter {
    flex-direction: column;
    font-size: 1.5em;
  }
  .liFooter {
    margin: 1.5em;
  }
  section {
    width: 98%;
  }
  .hub {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
      flex-direction: rows;
  }  .choix {
    min-height: 20vh;
    min-width: 20vh;
  }
  .conteneurListePrix {
    width: 100%;
  }
  .choixCreateur {
    font-size: 2em;
  }
}
